h1{
    font-weight: 400;
    text-align: center;
    color: white;
    font-size: 5.4rem;
    text-shadow: 2px 2px 10px rgba(0,0,0,.8);
}
.body-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(0,100,100,.1); */
}
.bio-wrapper{
    padding: 1rem;
    max-width: 600px;   
}
.bio-wrapper img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    object-position: top center;
    border-radius: 50%;
    border-radius: 20%;
    box-shadow: 4px 4px 25px rgba(0,0,0,.4);
    border: solid 5px white;
}
.contact-row{
    display: flex;
    flex-direction: column;

}
.contact-row a{
    color: white;
    text-decoration: none;
    font-size: 1.6rem;
    background-color: rgba(135,110,120,.9);
    padding: 1rem;
    border-radius: 15px;
    margin: .3rem;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0,0,0,.8);
    box-shadow: 1px 1px 4px rgba(0,0,0,.8);
    transition: .2s;
}
.contact-row a:hover,
.social-row a:hover svg *{
    background-color: rgba(180,160,225);
    fill: rgba(200,180,245);
}
.social-row a svg{
    height: 100px;
    width: 100px;
}
svg * {
    fill: rgba(255,255,255,.9);
    transition: .2s;
}
html{
    background-color: rgba(35,10,20,.9);
    font-family: 'Gill Sans', sans-serif;
    padding: 0;

}
body{
    background-color: rgba(0,0,0,.3);
    margin: 0
}